.title {
    background-color: #83cdff; 
    color: #000000; 
    text-align: center;
    padding: 20px; 
    font-size: 75px; 
   margin: 0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .normal{
    color:#371470
    font-size:40px;
    position: relative;
    margin:0;
  }

  .image-container {
    float: left;
    margin-right: 10px; /* Adjust the margin as needed */
  }

  .normal {
    width: 400px;
    /* You can add additional styling for the image if necessary */
  }

  .text-container {
    overflow: hidden; /* Clear the float to ensure proper layout */
  }

  .bullet{
    color: #000000;
    font-size: large;
    font-weight: 200;
  }

  .point{
    color: #000000;
    font-size: medium;
    list-style-position: inside;
  }

  .image-container2 {
    float: inline-end;
    margin-left: 10px; /* Adjust the margin as needed */
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  float: right;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

body {
  background-color:#d49a9a;
}

.main-website{
  font-size: x-large;
  color:#fff;
}